In [43]:
import numpy as np
import pandas as pd

In [44]:
df = pd.read_csv("NYC_2021_airbnb_reviews_data1.csv")
df.head()

,listing_id,url,review_posted_date,review
0,2595,https://www.airbnb.com/rooms/2595,November 2019,"Great location, convenient to everything. Very..."
1,2595,https://www.airbnb.com/rooms/2595,May 2019,Place was so cute and comfy! Host was great an...
2,2595,https://www.airbnb.com/rooms/2595,May 2019,10 / 10 would stay again
3,2595,https://www.airbnb.com/rooms/2595,January 2019,The apartment met expectations to how it was i...
4,2595,https://www.airbnb.com/rooms/2595,December 2018,Great space in a fun old building in NYC. Love...

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17444 entries, 0 to 17443
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   listing_id          17444 non-null  int64
 1   url                 17444 non-null  object
 2   review_posted_date  17444 non-null  object
 3   review              17444 non-null  object
dtypes: int64(1), object(3)
memory usage: 545.2+ KB

In [46]:
id = df.listing_id.unique()
len(id)

219

In [47]:
review = df[["listing_id", "review"]]
review.head()

   listing_id                                             review
0        2595  Great location, convenient to everything. Very...
1        2595  Place was so cute and comfy! Host was great an...
2        2595                           10 / 10 would stay again
3        2595  The apartment met expectations to how it was i...
4        2595  Great space in a fun old building in NYC. Love...

In [48]:
import nltk
import re
def process(text):
    text = text.lower()
    text = re.sub('[^a-zA-Z]+', ' ', text).strip()
    return(text)
process(review['review'][0])

'great location convenient to everything very cool space and building'

In [49]:
review['clean_text'] = review['review'].apply(lambda text: process(text))
review.head()

C:\Users\wkwan\AppData\Local\Temp\ipykernel_14896\3681335994.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review['clean_text'] = review['review'].apply(lambda text: process(text))

,listing_id,review,clean_text
0,2595,"Great location, convenient to everything. Very...",great location convenient to everything very c...
1,2595,Place was so cute and comfy! Host was great an...,place was so cute and comfy host was great and...
2,2595,10 / 10 would stay again,would stay again
3,2595,The apartment met expectations to how it was i...,the apartment met expectations to how it was i...
4,2595,Great space in a fun old building in NYC. Love...,great space in a fun old building in nyc loved...

In [50]:
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
text = review['clean_text'][0]
print(text)
analyzer.polarity_scores(text)

great location convenient to everything very cool space and building

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\wkwan\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

{'neg': 0.0, 'neu': 0.544, 'pos': 0.456, 'compound': 0.7713}

In [52]:
review['review_score_cleaned'] = review['clean_text'].apply(lambda x:analyzer.polarity_scores(x)['compound'])
review['review_score'] = review['review'].apply(lambda x:analyzer.polarity_scores(x)['compound'])
review.head()

,listing_id,review,clean_text,review_score_cleaned,review_score
0,2595,"Great location, convenient to everything. Very...",great location convenient to everything very c...,0.7713,0.7713
1,2595,Place was so cute and comfy! Host was great an...,place was so cute and comfy host was great and...,0.9506,0.9549
2,2595,10 / 10 would stay again,would stay again,0.0000,0.0000
3,2595,The apartment met expectations to how it was i...,the apartment met expectations to how it was i...,0.5829,0.4580
4,2595,Great space in a fun old building in NYC. Love...,great space in a fun old building in nyc loved...,0.9062,0.9062

Addon
1. mapreduce: look for the average review_score_cleaned (sentiment) of each listing
2. mapreduce:
3. box plot of the review_score_cleaned of each listing
4. line graph of review_score_cleaned vs review_posted_date of each listing